* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.form {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.blocks {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}
